html,body{
    min-height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#container-all{
    display:none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#container{
    display: grid;
    grid-template-columns: repeat(3,50px);
    grid-template-rows: repeat(3,50px); 
}
.field{
    border:solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#data,#players-data{
    display: flex;
    flex-direction: column;
}
.turn{
    background-color: aquamarine;
    border-radius: 2px;
    font-size: larger;
    font-family: Verdana;

}